html {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: "Quicksand", san-serif;
}

h1, h2, h3 {
  font-family: "Anton SC", sans-serif;
}

h1 {
  font-size: 42px;
}

.move {
  font-size: 70px;
  height: 80px;
}

.players {
  display: flex;
  justify-content: center;
}

.player-container {
  width: 100px;
}

.move-container {
  margin-top: 20px;
}
